<h3>Les tâches du TP</h3>
<div>
    <p>1</p>
    <p>Une partie du CRUD, notamment le Read, le Delete et le Post (réalisé) et le début du Update (en cours)</p>
</div>
<div>
    <p>2</p>
    <p>Une pop-up (réalisé)</p>
</div>
<div>
    <p>3</p>
    <p>Des routers-links (réalisé)</p>
</div>
<div>
    <p>4</p>
    <p>Une toolbar et une sidenav (réalisé)</p>
</div>
<div>
    <p>5</p>
    <p>Un bouton retour sur l'entité enfant (non réalisé, pas compris la consigne)</p>
</div>

<!-- <button (click)="goBack()">Retour</button> -->
<style>
    div {
        width: auto;
        margin-top: 10%;
    }
</style>