<mat-sidenav-container class="example-container">
    <mat-sidenav class="sidecontent" mode="side" opened>
        <a routerLink="accueil" routerLinkActive="active">Accueil</a><br><br> 
        <a routerLink="ajout" routerLinkActive="active">Ajouter une musique</a><br><br>      <!-- pour creer un routerLink dans le approuting -->
        <a routerLink="informations" routerLinkActive="active">Informations</a>
    </mat-sidenav>
    <mat-sidenav-content>
    </mat-sidenav-content>
</mat-sidenav-container>
